.card{
    margin-top: 15px;
    border: 1px solid black;
    width: 500px;
    padding: 40px;
    position: absolute;
    top: 20%;
    left: 30%;
    background-color: aquamarine;

}
.card a{
    text-decoration: none;
}
input.ng-invalid.ng-touched{
    border: 1px solid red
}
small{
    color: red;
}