.dash {
    height: 50px;
    background-color: rgb(24, 132, 126);
    text-align: center;
    color: azure;
    border-radius: 50px;
    margin-top: 10px;
}

.card {
    background-color: rgb(24, 132, 126);
    border-radius: 30px;
    text-align: center;
    padding: 20px;
    color: azure;
    justify-self: center;
}

span {
    color: rgb(41, 204, 225);
    font-weight: 300;
    font-size: 25px;
}